name: Build Docker Images

on:
  push:
    branches: main
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:
  generate-jobs:
    name: Generate Jobs
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[build skip]')"
    outputs:
      strategy: ${{ steps.generate-jobs.outputs.strategy }}
    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.4
      with:
        node-version: '12.x'

    - id: generate-jobs
      name: Generate Jobs
      run: |
        npm install
        strategy="$(node build.js generateJobs)"
        echo "::set-output name=strategy::$strategy"
#
#  build-amd64:
#    needs: generate-jobs
#    strategy: ${{ fromJson(needs.generate-jobs.outputs.strategy).amd64 }}
#    name: ${{ matrix.name }}
#    runs-on: ubuntu-20.04
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Login into Github Docker Registery
#        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
#
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v1
#
#      - name: Build ${{ matrix.name }}
#        run: ${{ matrix.runs.build }}
#
#  build-arm64:
#    needs: generate-jobs
#    strategy: ${{ fromJson(needs.generate-jobs.outputs.strategy).arm64 }}
#    name: ${{ matrix.name }}
#    runs-on: ARM64
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Login into Github Docker Registery
#        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
#
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v1
#
#      - name: Build ${{ matrix.name }}
#        run: ${{ matrix.runs.build }}
#
#      - name: Cleanup
#        run: docker system prune -a -f

  build-manifest:
    name: Generate Manifest file
    strategy: ${{ fromJson(needs.generate-jobs.outputs.strategy).merge }}
    needs:
      - generate-jobs
#      - build-amd64
#      - build-arm64
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Login into Github Docker Registery
        run: echo ${{ secrets.GH_DOCKER_PW }} | docker login ghcr.io -u shyim --password-stdin

      - name: Merge
        run: ${{ matrix.runs.merge }}